/* .header-part{
     background-image: url("./covers.png");
  background-size: cover;
  background-position: center center;
  
  width: 100%;
  height:500px;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
} */