.title-font {
  font-family: "Baloo Bhai", cursive;
  font-weight: 800;
  font-size: 44px;
  color:white;
}

.under-title-border {
  /* background: #fed36d none repeat scroll 0 0;
  border-radius: 2px;
  display: inline-block;
  height: 3px;
  position: relative;
  width: 50px; */

  border-color: #ffcc01;
  border-top-width: 7px;
  border-style: solid;
  max-width: 80px;
  padding-bottom: 20px !important;
  border-bottom:0;
  border-left:0;
  border-right:0;
  margin-left:125px;
}
.bs-vertical-wizard {
  border-right: 1px solid #eaecf1;
  padding-bottom: 50px;
}

.bs-vertical-wizard ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.bs-vertical-wizard ul > li {
  display: block;
  position: relative;
}

.bs-vertical-wizard ul > li > a {
  display: block;
  padding: 10px 10px 10px 40px;
  color: #333c4e;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.8px;
}

.bs-vertical-wizard ul > li > a:before {
  content: "";
  position: absolute;
  width: 1px;
  height: calc(100% - 25px);
  background-color: #bdc2ce;
  left: 13px;
  bottom: -9px;
  z-index: 3;
}

.bs-vertical-wizard ul > li > a .ico {
  pointer-events: none;
  font-size: 14px;
  position: absolute;
  left: 10px;
  top: 15px;
  z-index: 2;
}

.bs-vertical-wizard ul > li > a:after {
  content: "";
  position: absolute;
  border: 2px solid #bdc2ce;
  border-radius: 50%;
  top: 14px;
  left: 6px;
  width: 16px;
  height: 16px;
  z-index: 3;
}

.bs-vertical-wizard ul > li > a .desc {
  display: block;
  color: #bdc2ce;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.8px;
}

.bs-vertical-wizard ul > li.complete > a:before {
  background-color: #5cb85c;
  opacity: 1;
  height: calc(100% - 25px);
  bottom: -9px;
}

.bs-vertical-wizard ul > li.complete > a:after {
  display: none;
}
.bs-vertical-wizard ul > li.locked > a:after {
  display: none;
}
.bs-vertical-wizard ul > li:last-child > a:before {
  display: none;
}

.bs-vertical-wizard ul > li.complete > a .ico {
  left: 8px;
}

.bs-vertical-wizard ul > li > a .ico.ico-green {
  color: #5cb85c;
}

.bs-vertical-wizard ul > li > a .ico.ico-muted {
  color: #bdc2ce;
}

.bs-vertical-wizard ul > li.current {
  background-color: #fff;
}

.bs-vertical-wizard ul > li.current > a:before {
  background-color: #ffe357;
  opacity: 1;
}

.bs-vertical-wizard ul > li.current > a:after {
  border-color: #ffe357;
  background-color: #ffe357;
  opacity: 1;
}

.bs-vertical-wizard ul > li.current:after,
.bs-vertical-wizard ul > li.current:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.bs-vertical-wizard ul > li.current:after {
  border-color: rgba(255, 255, 255, 0);
  border-left-color: #fff;
  border-width: 10px;
  margin-top: -10px;
}

.bs-vertical-wizard ul > li.current:before {
  border-color: rgba(234, 236, 241, 0);
  border-left-color: #eaecf1;
  border-width: 11px;
  margin-top: -11px;
}

.y-us-section {
  padding: 82px 0 82px;
}
.y-us-head {
  text-align: center;
  margin: 0 0 91px;
}
.y-us-title h2 {
  color: #000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.y-us-title > p {
  color: #777777;
  line-height: 22px;
}

.service-3 .service-box {
  margin-bottom: 50px;
}
.service-3 .service-box .iconset {
  float: left;
  text-align: center;
  width: 20%;
}
.service-3 .service-box .iconset i {
  color: #000;
  font-size: 44px;
}
.service-3 .service-box .y-us-content {
  float: left;
  width: 78%;
}
service-3 .service-box .y-us-content h4 {
  color: #3a3a3a;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  margin: 14px 0 12px;
  text-transform: uppercase;
}
.service-3 .service-box .y-us-content p {
  color: #777777;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
}

.icon {
  color: #f4b841;
  padding: 0px;
  font-size: 40px;
  border: 1px solid #fdb801;
  border-radius: 100px;
  color: #fdb801;
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 70px;
}
.icon-us {
  color: #f4b841;
  padding: 0px;
  font-size: 40px;
  border: 1px solid #0a0a0a;
  border-radius: 100px;
  color: #000000;
  font-size: 28px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 70px;
}

/* https://avatars.mds.yandex.net/get-pdb/1016956/9dc08633-8d5a-4075-a9b0-e72504278dc0/orig */
/* https://previews.123rf.com/images/arrow/arrow1507/arrow150700016/42897129-online-education-background.jpg */

.bg-img {
  /* background-image: url("https://www.tutoroo.co/bundles/hemisphere/images/header-bg.jpeg?v=92"); */
  background-size: cover;
  background-position: center center;

  width: 100%;
  height: 560px;
  opacity: 1;
  visibility: inherit;
  z-index: 20;
}

.bg-overlay {
  background-color: rgba(0, 0, 0, 0.363) !important;
}
.countdown {
  padding: 18px 15px !important;
  border-radius: 5px !important;
  margin-top: -80px !important;
  margin-left: 100px !important;
  position: absolute !important;
  overflow: hidden !important;
  width: 100% !important;
  background-color: rgba(255, 255, 254, 0.212);
}

.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.countdown:before {
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;

  background-size: cover !important;
  width: 100% !important;
  height: 100% !important;
  content: "" !important;
}
.custom-select {
  color: #dbd7d7 !important;
  background-color: #ffffff00 !important;
  border: 1px solid #070606 !important;
  border-radius: 0.25rem !important;
}
.top-space {
  margin-top: 100px !important;
}
.card {
  height: 100%;
}
.card-img-top {
  height: 230px;
}

.card-adjust {
  width: 80px !important;
  height: 80px !important;
}
.border-adjuto-photo {
  border: 1px solid #343a40 !important;
  border-radius: 90%;
}
.card-course {
  background-color: transparent !important;
  border: none !important;
}
.card-img-course {
  width: 80px !important;
  height: 80px !important;
}

.padding-title {
  padding-top: 30px;
}

.margin-logo {
  margin-left: -1.15rem;
}

.btn-become-tutor {
  border: 1.5px solid #ffcc01 !important;
  background-color: #34343400 !important;
  color: #f8f9fa !important;
  font-weight: bold;
}
.btn-become-login {
  border: 1.5px solid #a0a09f !important;
  background-color: #34343400 !important;
  color: #f8f9fa !important;
  font-weight: bold;
}

.box-count {
  min-height: 100px !important;

  background-color: transparent !important;
}
.figure-number {
  font-size: 30px;
}
.bord-right {
  border-right: 2px solid #ffb503 !important;
}

.card {
  background-color: #faf6eff8 !important;
  background-clip: border-box !important;
  border: 1px solid #070707 !important;
}
.search-container {
  position: relative;
  text-align: center;
}
.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
.nav-bg {
  background-color:#1a080800;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  transition: background-color .3s ease-in-out;
}

.is-black {
 background-color:rgba(0, 0, 0, 0.835);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  transition: background-color .3s ease-in-out;
}


.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a,
.with-nav-tabs.panel-default .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-default .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #777;
  background-color: #ddd;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #555;
  background-color: #fff;
  border-color: #ddd;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #f5f5f5;
  border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
  color: #777;
}
.with-nav-tabs.panel-default
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > li
  > a:hover,
.with-nav-tabs.panel-default
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > li
  > a:focus {
  background-color: #ddd;
}
.with-nav-tabs.panel-default
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a,
.with-nav-tabs.panel-default
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a:hover,
.with-nav-tabs.panel-default
  .nav-tabs
  > li.dropdown
  .dropdown-menu
  > .active
  > a:focus {
  color: #fff;
  background-color: #555;
}
.panel {
  border: rgb(0, 0, 0);
  background-color: rgba(243, 243, 243, 0.425);
  height: 100%;
  width: 60%;
  margin-left: 20%;
}

.search-bar-home {
  display: table;
  margin: 0 auto;
}
/* .search-bar-home > form {
  max-width: 1000px;
} */

.search-bar-home {
  width: 100%;
}

.search-bar-home > form {
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
      
      padding-top: 20px;
}

form.main-search {
  display: table;
  height: 100%;
  padding: 10px 10px 10px 10px;
  width: 100%;
}

.location {
  border-radius: 5px;
  margin-right: 10px;
}

.btn-default {
  background-color:#ffcc01 !important;
}

.featured-tutors {
  background: white;
  
  box-shadow: 0px 1px 3px 0 rgba(0, 0, 0, 0.17);
  text-align: center;
  
  
}
.featured-tutor{
  margin-right:4rem!important;
}
.featured-tutor .featured-tutor-profile-picture {
  width: 240px;
  height: 230px;
  margin: 0 auto;
  display: block;
  
  margin-bottom: 20px;
}

.featured-tutor .featured-tutor-name {
  margin-bottom: 0px;
  font-size: 18px;
}

.featured-tutor .featured-tutor-course {
  font-size: 16px;
  color: #3898ff;
  font-weight: bold;
}
.star-active {
  font-size: 14px;
  color: #f2d600;
  padding-right: 2px;
}
.popup-star {
  font-size: 13px !important;
  padding-right: 3px;
}
.featured-tutor .featured-tutor-city {
  margin-top: 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #a2a2a2;
}
.input-row {
  display: flex;
}

.input-row > .form-group {
  margin-left: 10px;
  padding-top: 0.4rem;
}
.search-btn {
  height: 40px;
}

.subject-list {
  background-color:#212121;
}

.subject-logo {
  width: 100px;
}
.subject-title {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
.b_icon_list {
  display: flex;
  align-items: baseline;
}
.vc_empty_space {
  height: 20px;
}
.responsive-h5 {
  font-size: 42px;
  color:rgb(255, 255, 255);
  text-align: left;
  font-family: PT Sans;
  font-weight: 400;
  font-style: normal;
  line-height: 120% !important;
}

.section_custom_heading {
  padding-left: 140px;
}
.subject-title-description {
  font-size: 20px;
  color: rgb(255, 255, 255);
  line-height: 200% !important;
  text-align: left;
  font-family: Open Sans;
  font-weight: 400;
  font-style: normal;
}
.steps-bg{
    background-color:antiquewhite;
}
/* .how-it-works-step-content-left{
    border-right: .2rem solid #00bfc2;
        padding-right: 9.4rem;
       
} */
.how-it-works-step-graphic-right {
    border-left: .1rem solid #00bfc2;
    padding-left: 2rem;
    text-align:left;
   
}
.how-it-works-step-graphic-right::before {
   position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #5a5959;
    border-radius: 9px;
    box-shadow: 0 0 2px 8px #ffdb3c;
    margin-left: -35px;
   
}
.how-it-works-step-graphic-left-last {
 
 padding-right: 2.2rem;
 text-align:right;

}


.how-it-works-step-left{
    border-right: .1rem solid #00bfc2;
    padding-right: 2rem;
     text-align:right;
}

.how-it-works-image{
    width: 300px;
}

.how-it-works-step-graphic-left{
    border-right: .1rem solid #00bfc2;
    padding-right: 2rem;
    text-align:right;
}

.how-it-works-step-right::before{
position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #5a5959;
    border-radius: 9px;
    box-shadow: 0 0 2px 8px #ffdb3c;
    margin-left: -35px;

}

.how-it-works-step-right-last::before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  background-color: #5a5959;
  border-radius: 9px;
  box-shadow: 0 0 2px 8px #ffdb3c;
  margin-left: -35px;

}
.how-it-works-step-right{
    border-left: .1rem solid #00bfc2;
    padding-left: 2rem;
    text-align:left;
}

.how-it-works-step-right-last {
  
  padding-left: 2rem;
  text-align: left;
}
.how-it-works-text{
    color:black;
}
.mainlogo{
  height:41px;
}


.darken-grey-text {
    color: #2E2E2E;
}

.default-text {
    color: #2BBBAD; 
}

.form-white .md-form label {
  color: #fff; 
}
.form-white input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid rgb(0, 0, 0);
    
    box-shadow: 0 1px 0 0 #fff; 
}
.form-white input[type=text]:focus:not([readonly]) + label {
    color: #fff; 
}
.form-white input[type=password]:focus:not([readonly]) {
    border-bottom: 1px solid rgb(14, 12, 12);
    
    box-shadow: 0 1px 0 0 #fff; 
}
.form-white input[type=password]:focus:not([readonly]) + label {
    color: #fff; 
}
.form-white input[type=password], .form-white input[type=text] {
    border-bottom: 1px solid #fff; 
}
.form-white .form-control:focus {
    color: #fff;
}
.form-white .form-control {
    color: #fff;
}
.form-white textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid rgb(8, 8, 8);
    box-shadow: 0 1px 0 0 #fff;
    color: #fff; 
}
.form-white textarea.md-textarea  {
    border-bottom: 1px solid rgb(8, 8, 8);
    color: #fff;
}
.form-white textarea.md-textarea:focus:not([readonly])+label {
    color: #fff;
}

.login-form-button{
  background-color:#f6b603;
  color:white;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-google{
    background-color: rgb(199, 60, 60);
    color: #fff;
}
.size-createacct{
  font-size:20px !important;
}
 .default-text{
color:#f6b603!important;
 }

.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 14px;
    position: relative;   
    z-index: 2;
    color:black;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}
.carousel-indicators li{
  background-color: black !important;
}
/* .carousel-control-next, .carousel-control-prev{
  color:black !important;
} */

.testimonial {
	padding: 30px 15px 30px 30px;
	border-style: solid;
	border-width:5px 1px 1px;
	margin:15px 0;
  border-color: #00bfc2 rgb(15, 15, 15) rgb(29, 29, 29);
}

.testimonial:hover {
  border: 9px solid rgba(0, 0, 0, 0.25);
  transition: 2.5ms;
  box-shadow: 11px 29px #0000001a;
}

.testimonial img {
    border: 1px solid #ddd;
    margin: auto auto 15px;
        height: 150px;
        width: 235px;
        object-fit: cover;
}
.img-responsive-a {
 border: 1px solid #ddd;
 margin: auto auto 15px;
 height: 150px;
 width: 235px;
 object-fit: cover;
}

.testimonial blockquote {
    font-family: "source sans pro";
    font-size: 16px;
    font-weight: 300;
}

.testimonial blockquote:before {
	    color: #ccc;
	    content: open-quote;
	    font-size: 5em;
	    line-height: 0em;
	    margin-right: 0.1em;
	    vertical-align: -0.4em;
}

.testimonial blockquote:after {
		content: close-quote;
		visibility:hidden;
}

.col-md-3 .testimonial {
    padding: 30px;
}

.col-md-4 .testimonial .col-md-5,
.col-md-3 .testimonial .col-md-5,
.col-md-2 .testimonial .col-md-5,
.col-md-1 .testimonial .col-md-5 {
	width:100%;
	margin: 0 0 15px;
}

.col-md-4 .testimonial .col-md-7,
.col-md-3 .testimonial .col-md-7,
.col-md-2 .testimonial .col-md-7,
.col-md-1 .testimonial .col-md-7 {
    padding: 0;
    width: 100%;
} 

.margin-testimonial{

  margin-right: 100px !important;
  margin-left: 111px !important;

}
.testimonial blockquote cite {
    float: left;
    font-weight: 600;
    margin-top: 10px;
    width: 100%;
}

@media (min-width:992px) {
	.testimonial img {
		max-width:200px;
	}
	
}

.extra-padding{
  bottom:-55px !important;
}
/* html, body {
   overflow-x: hidden;
} */

.react-autosuggest__container {
  position: relative;
}
.tutor-display-margin{
  margin-left:100px;
}
.react-autosuggest__input {
  width: 240px;
  height: 30px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 51px;
  width: 280px;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}

.ui.form .field>.selection.dropdown>.dropdown.icon {
  border: none;
}

.how-it-works-text-right{
  width: 70%;
  float:left;
  color:black;
}
.how-it-works-text-left {
  width: 70%;
  float: right;
  color:black;
}

.ava-on-nav{
width:6%;

}

.subject-logo-display{
  justify-content: space-around;
  margin-left:10px;
}
.font-extra{
  font-family: Poppins,
  sans-serif;
  font-size:14px;
}




.tutor-list-result{
      padding: 30px 15px 30px 30px;
      border-style: solid;
      border-width: 2px 1px 1px 1px;
      margin: 15px 0;
      border-color: #a3a3a3a9 #151516 #060f18 #2b2c2d80;
  
}

.result-adjust-posiiton{
  margin-top:10%;
 
}


.tutor-list-result blockquote {
  font-family: "source sans pro";
  font-size:17px;
  font-weight: 300;
  color:white;
}


.col-md-3 .tutor-list-result {
  padding: 30px;
}

.col-md-4 .tutor-list-result .col-md-5,
.col-md-3 .tutor-list-result .col-md-5,
.col-md-2 .tutor-list-result .col-md-5,
.col-md-1 .tutor-list-result .col-md-5 {
  width: 100%;
  margin: 0 0 15px;
}

.col-md-4 .tutor-list-result .col-md-7,
.col-md-3 .tutor-list-result .col-md-7,
.col-md-2 .tutor-list-result .col-md-7,
.col-md-1 .tutor-list-result .col-md-7 {
  padding: 0;
  width: 100%;
}

.search-bar-results>form {
   
    padding: 6px;
    
    border-radius: 10px;
    padding-top: 20px;

}
.search-bar-results{
  width:600px;
  text-align:center;
}

.result-title{
  color:black;
}

.result-content{
  color:black;
  font-weight: 700;
  font-size:16px;
}
.btn-chat{
  border: 1.5px solid #070707 !important;
  
  color: #000000 !important;
  font-weight: bold;
}

.btn-book{
  border: 1.5px solid #585856 !important;
  background: #e6b000;
  color: #1b1b1b !important;
  font-weight: bold;
}

.titlecolor{
  color:rgb(0, 191, 194);
  font-size: 28px;
}

.register{
    background:linear-gradient(to left, rgb(73, 243, 153), #00C9FF);



    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}

.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}