.card-img {
    width: 80px !important;
      height: 80px !important;
    border-radius: 90%;
}

.card {
    
    background-color:transparent !important;
   
    border: none !important;
  
}
.card-img-top {
    width: 80px !important;
      height: 80px !important;
    
}
